<nav class="sidebar__container">
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
  <a
    class="link"
    routerLink="/"
    routerLinkActive="link__active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Добро пожаловать</a
  >
  <a class="link" routerLink="/receive" routerLinkActive="link__active"
    >Перевести в FB</a
  >
</nav>
