.sidebar {
  &__container {
    border-right: 1px grey solid;
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
}

.link {
  margin-bottom: 10px;
  font-size: 20px;
  color: black;
  text-decoration: none;

  &__active {
    color: orange;
  }
}
